
/*
font-family: 'Catamaran', sans-serif;

font-family: 'Bad Script', cursive;

font-family: 'Dawning of a New Day', cursive;
*/

footer {
  background-color: white;
}

body {
  font-family: 'Catamaran', sans-serif;
  text-align: center;
}

img {
  max-width: 18%;
  max-height: 18%;
}
nav {
/*  background-color: #FED204;*/
}
ul {
  text-decoration: none;
  list-style-type: none;
  display: block;
}
.about img{
  float:left;
}

.home {
/*  background-color: #DDD102; */
width: 100%;
height: 100%;

background-image: url(back/home.png);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
